<!DOCTYPE html>
<html>
<head>
    <title>Deepfake Detector</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="{{ 'bg-gray-900 text-white' if theme=='dark' else 'bg-gray-100 text-black' }}">

<!-- Navbar -->
<nav class="flex justify-between items-center p-4 shadow bg-blue-600 text-white">
    <h1 class="text-xl font-bold">🧠 Deepfake AI</h1>

    <div>
        <a href="/dashboard" class="mr-4">Dashboard</a>
        <a href="/upload" class="mr-4">Upload</a>
        <a href="/history" class="mr-4">History</a>
        <a href="/toggle-theme" class="mr-4">🌙 Theme</a>
        <a href="/logout">Logout</a>
    </div>
</nav>

<div class="p-6">
    {% block content %}{% endblock %}
</div>

</body>
</html>