{% extends "base.html" %}
{% block content %}

<h2 class="text-2xl font-bold mb-4">Upload Image</h2>

<div class="bg-white p-6 rounded-xl shadow">

<input type="file" id="fileInput" class="mb-4">

<img id="preview" class="hidden w-48 mb-4 rounded shadow">

<form method="POST" enctype="multipart/form-data">
    <input type="file" name="file" id="hiddenFile" hidden>
    <button class="bg-blue-500 text-white px-4 py-2 rounded">Check</button>
</form>

{% if result %}
<div class="mt-6 p-4 bg-green-100 rounded">
    <h3 class="text-xl">Result: {{ result }}</h3>
    <h3>Confidence: {{ confidence }}</h3>
</div>
{% endif %}

</div>

<script>
fileInput.onchange = function() {
    const file = this.files[0];
    preview.src = URL.createObjectURL(file);
    preview.classList.remove("hidden");
    hiddenFile.files = this.files;
}
</script>

{% endblock %}